@import '@/scss/shared/variables.module.scss';

.header-container {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--grey-300);
  padding: getPxBySpace(1) getPxBySpace(2);
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

.dropdown-panel {
  svg {
    path {
      fill: var(--primary-color);
    }
  }
}

.navigation-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: getPxBySpace(2);
  margin-right: auto;
  color: var(--primary-color);
}

.search-panel-trigger {
  margin-right: getPxBySpace(2);
}
