@import '@/scss/shared/variables.module.scss';

.products-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: getPxBySpace(2);

  @media (min-width: 640px) {
    gap: getPxBySpace(1);
  }
}

.grid-row {
  @include flex-column-center;
  gap: getPxBySpace(2);

  @media (min-width: 640px) {
    @include flex-row-center;
    gap: getPxBySpace(1);
  }
}
