@import '@/scss/shared/variables.module.scss';

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: getPxBySpace(2);

  @media (min-width: 640px) {
    gap: getPxBySpace(1);
  }
}

.grid-row {
  @include flex-column-center;
  gap: getPxBySpace(2);

  &:nth-of-type(even) {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: max-content;
      gap: getPxBySpace(1);
    }
  }

  &:nth-of-type(odd) {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: max-content;
      gap: getPxBySpace(1);
    }
  }
}
