@import '@/scss/shared/variables.module.scss';

.typography {
  color: var(--text-color);

  &-heading {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
  }

  &-subheading {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
  }

  &-body {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }

  &-caption {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
  }
}
