@import '@/scss/shared/variables.module.scss';

.navigation-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: getPxBySpace(2);
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation-link {
  display: flex;
  align-items: center;
  padding: getPxBySpace(0.5) 0;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
