@import '@/scss/shared/variables.module.scss';

.slide-container {
  @include flex-center;
  width: 100%;
  height: 60vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slide-caption {
  z-index: 1;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}

.slide-headline {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: getPxBySpace(2);
  color: var(--white);
}

.slide-subheadline {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white);
}
