@mixin theme-light {
  --white: #fff;
  --primary-color: #000;
  --secondary-color: #fff;
  --grey-100: #f5f5f5;
  --grey-200: #f2f4f2;
  --grey-300: #e0e0e0;
  --grey-600: #757575;
  --primary-box-shadow: 0 10px 7px -5px var(--grey-300);
  --input-placeholder-color: var(--grey-600);
}
