@import '@/scss/shared/variables.module.scss';

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 100%;
  height: 40px;
  padding: getPxBySpace(4) 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: none;
  }
}

.button {
  border: none;
  background: none;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
}
