@import '@/scss/shared/variables.module.scss';

.search-form {
  width: 100%;
  @include flex-center;
}

.input-container {
  width: 100%;
  @include flex-center;
}

.search-input {
  width: 100%;
  height: 40px;
  padding: getPxBySpace(4) 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}

.button {
  border: none;
  background: none;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;

  svg {
    path {
      fill: var(--primary-color);
    }
  }
}
