@import '@/scss/shared/variables.module.scss';

.dropdown-container {
  width: 100%;
  height: 100%;
}

.panel-container {
  display: flex;
}

.dropdown-trigger-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  position: absolute;
  top: calc(100% + 1px); // 1px is the border-bottom of the header
  left: 0;
  right: 0;
  min-height: 30vh;
  background-color: var(--grey-100);
  padding: getPxBySpace(1) getPxBySpace(2);
  box-sizing: border-box;
}
